* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 'Lato', sans-serif;
}

body, form, input, button, select, option {
    font: inherit;
}

section {
    display: flex;
    max-width: 60em;
    margin: 0 auto;
    margin-top: 8em;
}

h2 {
    font-size: 1.4em;
}
ul {
    display: flex;
    border: solid 1px;
    border-color: var(--yellow-color, #FFC701);
    border-radius: 0.5em;
    justify-content: center;
    padding: 1.5em;
    color: var(--primary-color, #275468);
}

ul li {
    display: block;
    max-width: 33%;
}

p {
    padding-top: 1em;
    padding-right: 1em;
}

button {
    background-color: var(--yellow-color, #FFC701);
    color: var(--white-color, #ffffff);
    border-radius: 0.3em;
    padding: 0.2em 1em 0.2em 1em;
    border-style: none;
    margin-top: 2em;
    margin-bottom: 0.6em;
    font-weight: 600;
}

button:hover {
    background: var(--primary-color, #275468);
    color: var(--yellow-color, #FFC701);
}



